@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* custom style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --bg-header: #adacac;
}
/* End Custom style  */

/* header style */
header {
    background-color: var(--bg-header);
}

/* End header style */

/* nav style */
/* End nav style */

/* main style */
.card{
    border-radius: 0;
}
.card img{
    border-radius: 0;
}

#pagination ul li a{
    border: none;
    color: #000;
    transition: all 0.3s ease-in-out;
}
#pagination ul li a:hover{
    background-color: #000;
    color: #fff;
}
.progress{
    height:30px;
}
/* End main style */

/* footer style */
/* End footer style */